.cta {
	all: unset;
	background-color: $accent;
	color: $base;
	padding: 12px 24px;
	border-radius: 10px;
	cursor: pointer;

	&:hover {
		filter: brightness(0.9);
	}
	&:active {
		filter: brightness(0.8);
	}

}
