.cta {
	all: unset;
	background-color: $accent;
	color: $base;
	padding: 0px 24px;
	border-radius: 10px;
	cursor: pointer;

	@media (min-width: 900px) {
		padding: 12px 24px;
	}

	&:hover {
		filter: brightness(0.9);
	}
	&:active {
		filter: brightness(0.8);
	}
}
