.hero {
	margin: 75px auto;
	margin-bottom: 32px;
	width: 90%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	&__texts {
		height: 90%;
		display: grid;
		align-content: center;
		max-width: 1000px;
		margin: 0 auto;

		&-title {
			@extend .heading;
			@extend .mobile-heading-1;

			@media (min-width: 724px) {
				font-size: 7.2rem;
				line-height: 8.4rem;
			}

			span {
				@extend .accent-word;
				font-weight: 700;
			}
		}

		&-text {
			@extend .paragraph;
			@extend .mobile-paragraph-md;
			margin: 3.2rem 0 0;

			@media (min-width: 724px) {
				font-size: 2rem;
				line-height: 3rem;
			}
		}
	}

	&__footer {
		height: 10%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@extend .paragraph;
		@extend .mobile-paragraph-sm;
		border-bottom: 1px solid gray;

		img {
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}

		@media (min-width: 724px) {
			font-size: 1.8rem;
		}
	}
}
