.speezard {
	width: 90%;
	margin: 100px auto;

	&__top {
		display: flex;
		flex-direction: column;
		gap: 16px;
		&-title {
			@extend .heading;
			@extend .mobile-heading-2;

			span {
				@extend .accent-word;
			}

			@media (min-width: 900px) {
				width: 60%;
				padding-top: 64px;
				font-size: 4.8rem;
				line-height: 6.5rem;
			}
		}

		@media (min-width: 900px) {
			flex-direction: row;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 32px 0 0;
		@media (min-width: 900px) {
			flex-direction: row;
			gap: 0;
		}

		&-item {
			border-bottom: 1px solid gray;
			@media (min-width: 724px) {
				border-bottom: none;
				border-right: 1px solid gray;
				padding: 0 32px;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
			}

			&-title {
				@extend .heading;
				@extend .mobile-heading-5;
				margin-bottom: 1rem;
				@media (min-width: 900px) {
					font-weight: 700;
					font-size: 2rem;
					line-height: 3.6rem;
				}
			}

			&-text {
				@extend .paragraph;
				@extend .mobile-paragraph-md;
				margin-bottom: 2rem;
				@media (min-width: 900px) {
					font-weight: 400;
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
		}
	}
}
