.navbar {
	background-color: $base;
	height: 75px;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1440px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__links {
		&--mobile {
			color: white;
			display: flex;
			flex-direction: column;
			margin: 100px 0 0;
			text-align: right;
			gap: 2rem;
			font-size: 2rem;
			line-height: 6rem;
			box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.05);
			padding-bottom: 3rem;
			position: absolute;
			background-color: $base;
			right: 0;
			top: 0;
			width: 100%;

			a {
				margin-right: 25px;
			}
		}

		&--desktop {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2.5rem;
			font-size: 1.6rem;

			a {
				cursor: pointer;
				&:hover {
					color: $accent;
				}
			}
		}
	}

	&__logo {
		position: relative;
		width: 260px;
		height: 60px;
		cursor: pointer;
	}
}
