.navbar {
	background-color: $base;
	width: 100vw;
	height: 80px;
	padding: 0 4rem;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 20;

	&__links {
		&--mobile {
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 75px 0 0;
			text-align: center;
			gap: 2rem;
			font-size: 2rem;
			line-height: 5rem;
			box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.05);
			padding-bottom: 3rem;
			position: fixed;
			background-color: $base;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 50;
		}

		&--desktop {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2.5rem;
			font-size: 1.6rem;

			a {
				cursor: pointer;
				transition: all 0.2s ease-out;
				&:hover {
					color: $accent;
				}
				&:last-child {
					color: $base;
				}
			}
		}
	}

	&__logo {
		position: relative;
		width: 150px;
		height: 40px;
		cursor: pointer;
	}
}
