.testimonial-card {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 32px;
	background-color: $white;
	color: $base;
	border-radius: 20px;
	padding: 32px;
	height: 500px;
	@media only screen and (min-width: 320px) and (max-width: 767px) {
		/* Estilos específicos para pantallas de tamaño medio (320px) */
		width: 80%;
		height: 560px;
	}

	&__text {
		@extend .paragraph;
		@extend .mobile-paragraph-md;
		font-weight: 500;
		font-style: italic;
		color: $base;
		
		@media (min-width: 724px) {
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
	}

	.button {
		font-weight: 500;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		cursor: pointer;
		text-decoration: none;
	}

	&__person {
		
		&-social {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.icon {
			border-radius: 50%;
			border: 4px solid $base;
		}

		&-title {
			@extend .heading;
			@extend .mobile-heading-6;
			margin: 4px 0 4px;
			font-weight: 700;
			font-size: 2rem;
		}

		&-description {
			@extend .paragraph;
			@extend .mobile-paragraph-sm;
			font-weight: 500;
			font-size: 1.8rem;
			font-weight: 600;
		}
	}
}
