.projects {
	width: 90%;
	max-width: 1440px;
	margin: 128px auto;

	&__title {
		@extend .heading;
		@extend .mobile-heading-2;
		margin: 0 auto;
		margin-bottom: 52px;
		text-align: center;
		max-width: 800px;
		@media (min-width: 724px) {
			font-size: 4.8rem;
			line-height: 6.5rem;
		}
		span {
			@extend .accent-word;
		}
	}

	&__slider {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	color: $accent;
	padding-left: 20px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	color: $accent;
	padding-right: 20px;
}
