.profile-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;

	&__images{
		border-radius: 10px;
	}

	&__title {
		text-align: center;
		min-height: 32px;
		@extend .heading;
		@extend .mobile-heading-5;
		margin: 16px 0 0;
		@media (min-width: 724px) {
			font-weight: 600;
			font-size: 2rem;
			line-height: 3rem;
		}
	}

	&__description {
		@extend .paragraph;
		@extend .mobile-paragraph-sm;
		margin: 0 0 8px;
		text-align: center;
		@media (min-width: 724px) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__social {
		@extend .paragraph;
		@extend .mobile-paragraph-sm;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.button {
		font-weight: 100;
		font-size: 18px;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		cursor: pointer;
		text-decoration: none;
		transform: translateX(-10px);
	}
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	color: white;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	color: white;
}
