@import './variables';
@import '../components/Navbar/navbar';
@import '../components/CTALink/ctalink';
@import '../components/ProjectCard/projectcard';
@import '../components/ProfileCard/profilecard';
@import '../components/TestimonialCard/testimonial-card';
@import '../components/Footer/footer';
@import '../pages/sections/Hero/hero';
@import '../pages/sections/Speezard/speezard';
@import '../pages/sections/Community/community';
@import '../pages/sections/ProofOfBuild/proofofbuild';
@import '../pages/sections/Projects/projects';
@import '../pages/sections/Stats/stats';
@import '../pages/sections/Testimonials/testimonials';
@import '../pages/sections/Mentors/mentors';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	background-color: $base;
	color: white;
	font-size: 62.5%;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: $accent;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1c8440;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.app-wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
